@import url('https: //fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

.back-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.5s;
}

.back-button:hover {
    background-color: #eee;
    border-radius: 50%;
}

.back-button span {
    display: inline-block;
    padding: 5px;
}

.messages-container {
    overflow: auto;
}

.messages-container::-webkit-scrollbar {
    display: none;
    width: 5px;
}

.messages-container:hover::-webkit-scrollbar {
    display: block;
}

.messages-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.messages-container:hover::-webkit-scrollbar-track {
    background-color: transparent;
}

.messages-container:hover::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid transparent;
    border-radius: 10px;
}