@import url('https: //fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

.profile-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    width: 70%;
    height: 40%;
}

.close-button {
    align-self: flex-end;
    margin-right: 5px;
    font-size: 25px;
    position: absolute;
}

.close-button span:hover {
    background-color: #eee;
    border-radius: 50%;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: lightgray;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.display-name {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 800;
}

.logout-button button {
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

.logout-button button:hover {
    background-color: gray;
}

.row-buttons {
    background-color: #fefefe;
}

.row {
    display: flex;
    margin: 0;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 7px;
    cursor: pointer;
}

.row:hover {
    background-color: #efefef;
}