@import url("https: //fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.container-send-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000;
    border-radius: 8px;
    padding: 0px;
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.message-input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding: 10px;
    max-height: 200px;
    overflow: auto;
    font-size: 20px;
}

.message-input::-webkit-scrollbar {
    display: none;
}

.button-container {
    display: flex;
    align-items: center;
    position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin-right: 10px;
}

.send-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}

.send-button span {
    margin-right: 5px;
}

.selected-tab {
    display: flex;
    align-items: center;
    background-color: #eef;
    margin: 0;
}

.selected-tab p {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-weight: 700;
}

.selected-tab button {
    cursor: pointer;
    margin: 0;
    background: none;
    border: none;
}

.selected-tab button:hover {
    background-color: #ddd;
    border-radius: 50%;
}